@{
    ViewData["Title"] = "index";
}
<!DOCTYPE html>
<head><!-- saved from url=(0054)http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="robots" content="noindex">

    <title>Nav Sidebar With Toggle Button - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Toggle/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">
    .mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
    </style>
    <script src="~/Toggle/jquery-1.10.2.min.js.Download"></script>
    <script src="~/Toggle/bootstrap.min.js.Download"></script>
    <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />'); 
            else $('head > link').filter(':first').replaceWith(defaultCSS); 
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height()); 
          window.parent.postMessage( iframe_height, 'http://bootsnipp.com');
        });
    </script>
</head>
<body>
	
    <link href="./font-awesome.css" rel="stylesheet">

<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Link</a></li>
        <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Link</a></li>
        <li class="dropdown">
          <a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Action</a></li>
            <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Another action</a></li>
            <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Link</a></li>
        <li class="dropdown">
          <a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Action</a></li>
            <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Another action</a></li>
            <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="row">
		<div class="col-sm-4 col-md-3 sidebar">
    <div class="mini-submenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="list-group">
        <span href="#" class="list-group-item active">
            Submenu
            <span class="pull-right" id="slide-submenu">
                <i class="fa fa-times"></i>
            </span>
        </span>
        <a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#" class="list-group-item">
            <i class="fa fa-comment-o"></i> Lorem ipsum
        </a>
        <a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#" class="list-group-item">
            <i class="fa fa-search"></i> Lorem ipsum
        </a>
        <a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#" class="list-group-item">
            <i class="fa fa-user"></i> Lorem ipsum
        </a>
        <a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#" class="list-group-item">
            <i class="fa fa-folder-open-o"></i> Lorem ipsum <span class="badge">14</span>
        </a>
        <a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#" class="list-group-item">
            <i class="fa fa-bar-chart-o"></i> Lorem ipsumr <span class="badge">14</span>
        </a>
        <a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/X02VK#" class="list-group-item">
            <i class="fa fa-envelope"></i> Lorem ipsum
        </a>
    </div>        
</div>
	</div>
</div>
	<script type="text/javascript">
	$(function(){

    $('#slide-submenu').on('click',function() {			        
        $(this).closest('.list-group').fadeOut('slide',function(){
        	$('.mini-submenu').fadeIn();	
        });
        
      });

	$('.mini-submenu').on('click',function(){		
        $(this).next('.list-group').toggle('slide');
        $('.mini-submenu').hide();
	})
})

	</script>


</body></html>